USE [master]
GO
/****** Object:  Database [db_Community_Ban]    Script Date: 2/17/2015 4:42:16 PM ******/
CREATE DATABASE [db_Community_Ban]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_Community_Ban', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_Community_Ban.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_Community_Ban_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_Community_Ban_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_Community_Ban].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_Community_Ban]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/17/2015 4:42:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CenterMedicines]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenterMedicines](
	[CenterMedicineId] [int] IDENTITY(1,1) NOT NULL,
	[MedicineQuantity] [float] NOT NULL,
	[CenterId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CenterMedicines] PRIMARY KEY CLUSTERED 
(
	[CenterMedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Centers]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centers](
	[CenterId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Thana] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Centers] PRIMARY KEY CLUSTERED 
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[DiseaseId] [int] NOT NULL,
	[PatientNumber] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diseases]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseases](
	[DiseaseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[TreatmentProcedure] [nvarchar](max) NOT NULL,
	[PreferredDrugs] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Diseases] PRIMARY KEY CLUSTERED 
(
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Districts]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Population] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DivAndDis]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DivAndDis](
	[DivAndDisRelId] [int] IDENTITY(1,1) NOT NULL,
	[DivisionId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
 CONSTRAINT [PK_DivAndDis] PRIMARY KEY CLUSTERED 
(
	[DivAndDisRelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Divisions]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Divisions](
	[DivisionId] [int] IDENTITY(1,1) NOT NULL,
	[DivisionName] [varchar](50) NOT NULL,
	[DivisionCode] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Divisions] PRIMARY KEY CLUSTERED 
(
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[Speciality] [nvarchar](max) NULL,
	[CenterId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineId] [int] IDENTITY(1,1) NOT NULL,
	[GenericName] [nvarchar](max) NULL,
	[Quantity] [float] NOT NULL,
	[QuantityUnit] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Medicines] PRIMARY KEY CLUSTERED 
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patients]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[VoterId] [bigint] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Age] [float] NOT NULL,
	[CenterId] [int] NOT NULL,
	[ServiceCount] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Patients] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PrescriptionId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[VoterId] [bigint] NOT NULL,
	[Observation] [nvarchar](max) NULL,
	[Dose] [nvarchar](max) NULL,
	[BeforeAfter] [nvarchar](max) NULL,
	[QuantityGiven] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[DiseaseId] [int] NOT NULL,
	[PatientId] [bigint] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Prescriptions] PRIMARY KEY CLUSTERED 
(
	[PrescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reports]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](max) NULL,
	[DistrictId] [int] NOT NULL,
	[TotalPatient] [int] NOT NULL,
	[AffectedPopulationPercentage] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Reports] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thanas]    Script Date: 2/17/2015 4:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thanas](
	[ThanaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DistrictId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Thanas] PRIMARY KEY CLUSTERED 
(
	[ThanaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CenterMedicines] ON 

INSERT [dbo].[CenterMedicines] ([CenterMedicineId], [MedicineQuantity], [CenterId], [MedicineId]) VALUES (1, 2000, 1, 5)
INSERT [dbo].[CenterMedicines] ([CenterMedicineId], [MedicineQuantity], [CenterId], [MedicineId]) VALUES (2, 100, 1, 3)
INSERT [dbo].[CenterMedicines] ([CenterMedicineId], [MedicineQuantity], [CenterId], [MedicineId]) VALUES (3, 3000, 1, 1)
SET IDENTITY_INSERT [dbo].[CenterMedicines] OFF
SET IDENTITY_INSERT [dbo].[Centers] ON 

INSERT [dbo].[Centers] ([CenterId], [Name], [Code], [Password], [District], [Thana]) VALUES (1, N'Badda Thana', N'Badda Thana Badda Dhaka', N'34546', N'Dhaka', N'Badda')
INSERT [dbo].[Centers] ([CenterId], [Name], [Code], [Password], [District], [Thana]) VALUES (2, N'Bangsal Thana', N'Bangsal Thana Bangsal Dhaka', N'31341', N'Dhaka', N'Bangsal')
INSERT [dbo].[Centers] ([CenterId], [Name], [Code], [Password], [District], [Thana]) VALUES (3, N'Pahartali Thana', N'Pahartali Thana Pahartali Chittagong', N'61278', N'Chittagong', N'Pahartali')
SET IDENTITY_INSERT [dbo].[Centers] OFF
INSERT [dbo].[Customers] ([DiseaseId], [PatientNumber]) VALUES (1, 2)
INSERT [dbo].[Customers] ([DiseaseId], [PatientNumber]) VALUES (2, 1)
SET IDENTITY_INSERT [dbo].[Diseases] ON 

INSERT [dbo].[Diseases] ([DiseaseId], [Name], [Description], [TreatmentProcedure], [PreferredDrugs]) VALUES (1, N'Dengue Fever', N'Belly piain', N'Take rest', N'Saline')
INSERT [dbo].[Diseases] ([DiseaseId], [Name], [Description], [TreatmentProcedure], [PreferredDrugs]) VALUES (2, N'Malaria', N'Belly piain', N'Take rest', N'Saline')
INSERT [dbo].[Diseases] ([DiseaseId], [Name], [Description], [TreatmentProcedure], [PreferredDrugs]) VALUES (3, N'Tuberculosis', N'Belly piain', N'Take rest', N'Saline')
SET IDENTITY_INSERT [dbo].[Diseases] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([DistrictId], [Name], [Population]) VALUES (1, N'Dhaka', 797027)
INSERT [dbo].[Districts] ([DistrictId], [Name], [Population]) VALUES (2, N'Chittagong', 506932)
INSERT [dbo].[Districts] ([DistrictId], [Name], [Population]) VALUES (3, N'Barisal', 647019)
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[DivAndDis] ON 

INSERT [dbo].[DivAndDis] ([DivAndDisRelId], [DivisionId], [DistrictId]) VALUES (1, 3, 1)
INSERT [dbo].[DivAndDis] ([DivAndDisRelId], [DivisionId], [DistrictId]) VALUES (2, 2, 2)
INSERT [dbo].[DivAndDis] ([DivAndDisRelId], [DivisionId], [DistrictId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[DivAndDis] OFF
SET IDENTITY_INSERT [dbo].[Divisions] ON 

INSERT [dbo].[Divisions] ([DivisionId], [DivisionName], [DivisionCode]) VALUES (1, N'Barisal', N'BD-A      ')
INSERT [dbo].[Divisions] ([DivisionId], [DivisionName], [DivisionCode]) VALUES (2, N'Chittagong', N'BD-B      ')
INSERT [dbo].[Divisions] ([DivisionId], [DivisionName], [DivisionCode]) VALUES (3, N'Dhaka', N'BD-C      ')
SET IDENTITY_INSERT [dbo].[Divisions] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorId], [Name], [Degree], [Speciality], [CenterId]) VALUES (1, N'Galib', N'MBBS', N'XX', 1)
INSERT [dbo].[Doctors] ([DoctorId], [Name], [Degree], [Speciality], [CenterId]) VALUES (2, N'Redzwan', N'MBBS', N'XX', 1)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([MedicineId], [GenericName], [Quantity], [QuantityUnit]) VALUES (1, N'Napa Xtra', 500, N'mg')
INSERT [dbo].[Medicines] ([MedicineId], [GenericName], [Quantity], [QuantityUnit]) VALUES (2, N'Metril', 400, N'mg')
INSERT [dbo].[Medicines] ([MedicineId], [GenericName], [Quantity], [QuantityUnit]) VALUES (3, N'Oral Saline', 500, N'ml')
SET IDENTITY_INSERT [dbo].[Medicines] OFF
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientId], [VoterId], [Name], [Address], [DateOfBirth], [Age], [CenterId], [ServiceCount], [DistrictId]) VALUES (1, 3, N'Khan', N'45/s', CAST(N'2015-02-17 00:00:00.000' AS DateTime), 20, 1, 0, 1)
INSERT [dbo].[Patients] ([PatientId], [VoterId], [Name], [Address], [DateOfBirth], [Age], [CenterId], [ServiceCount], [DistrictId]) VALUES (2, 4, N'siham', N'48', CAST(N'2015-02-17 00:00:00.000' AS DateTime), 30, 1, 0, 1)
INSERT [dbo].[Patients] ([PatientId], [VoterId], [Name], [Address], [DateOfBirth], [Age], [CenterId], [ServiceCount], [DistrictId]) VALUES (3, 3, N'habib', N'47', CAST(N'2015-02-17 00:00:00.000' AS DateTime), 25, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([PrescriptionId], [Date], [VoterId], [Observation], [Dose], [BeforeAfter], [QuantityGiven], [Note], [DiseaseId], [PatientId], [DoctorId], [MedicineId]) VALUES (1, CAST(N'2015-02-17 00:00:00.000' AS DateTime), 3, N'x', N'1', N'x', 10, N'v', 1, 3, 1, 1)
INSERT [dbo].[Prescriptions] ([PrescriptionId], [Date], [VoterId], [Observation], [Dose], [BeforeAfter], [QuantityGiven], [Note], [DiseaseId], [PatientId], [DoctorId], [MedicineId]) VALUES (2, CAST(N'2015-02-17 00:00:00.000' AS DateTime), 4, N'x', N'1', N'x', 20, N'c', 1, 4, 1, 1)
INSERT [dbo].[Prescriptions] ([PrescriptionId], [Date], [VoterId], [Observation], [Dose], [BeforeAfter], [QuantityGiven], [Note], [DiseaseId], [PatientId], [DoctorId], [MedicineId]) VALUES (4, CAST(N'2015-02-17 00:00:00.000' AS DateTime), 3, N'y', N'1', N'x', 12, N'b', 2, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
SET IDENTITY_INSERT [dbo].[Thanas] ON 

INSERT [dbo].[Thanas] ([ThanaId], [Name], [DistrictId]) VALUES (1, N'Adabor', 1)
INSERT [dbo].[Thanas] ([ThanaId], [Name], [DistrictId]) VALUES (2, N'Badda', 1)
INSERT [dbo].[Thanas] ([ThanaId], [Name], [DistrictId]) VALUES (3, N'Bangsal', 1)
SET IDENTITY_INSERT [dbo].[Thanas] OFF
/****** Object:  Index [IX_CenterId]    Script Date: 2/17/2015 4:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_CenterId] ON [dbo].[CenterMedicines]
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineId]    Script Date: 2/17/2015 4:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineId] ON [dbo].[CenterMedicines]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CenterId]    Script Date: 2/17/2015 4:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_CenterId] ON [dbo].[Patients]
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DistrictId]    Script Date: 2/17/2015 4:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_DistrictId] ON [dbo].[Patients]
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DistrictId]    Script Date: 2/17/2015 4:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_DistrictId] ON [dbo].[Thanas]
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CenterMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CenterMedicines_dbo.Centers_CenterId] FOREIGN KEY([CenterId])
REFERENCES [dbo].[Centers] ([CenterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CenterMedicines] CHECK CONSTRAINT [FK_dbo.CenterMedicines_dbo.Centers_CenterId]
GO
ALTER TABLE [dbo].[CenterMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CenterMedicines_dbo.Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([MedicineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CenterMedicines] CHECK CONSTRAINT [FK_dbo.CenterMedicines_dbo.Medicines_MedicineId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patients_dbo.Centers_CenterId] FOREIGN KEY([CenterId])
REFERENCES [dbo].[Centers] ([CenterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_dbo.Patients_dbo.Centers_CenterId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patients_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_dbo.Patients_dbo.Districts_DistrictId]
GO
ALTER TABLE [dbo].[Thanas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Thanas_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thanas] CHECK CONSTRAINT [FK_dbo.Thanas_dbo.Districts_DistrictId]
GO
USE [master]
GO
