@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Center</h2>


<input type="button" value="Medicine Setup" class="btn btn-default btn-lg col-md-8 col-xs-12" onclick=" location.href='@Url.Action("Create", "Medicine")' " />
<input type="button" value="Disease Setup" class="btn btn-default btn-lg col-md-8 col-xs-12" onclick=" location.href='@Url.Action("Create", "Disease")' " />
<input type="button" value="Create Center" class="btn btn-default btn-lg col-md-8 col-xs-12" onclick=" location.href='@Url.Action("Create", "Center")' " />
<input type="button" value="Send Medicine" class="btn btn-default btn-lg col-md-8 col-xs-12" onclick=" location.href='@Url.Action("Create", "SendMedicine")' " />
