@{
    ViewBag.Title = "Home Page";
}


    <p>Date: <input type="text" id="datepicker" size="30"></p>
    <script>
        $(function () {
            $("#datepicker").datepicker();
           
        });
    </script>
